html {

}

.logo {
  display: inline-block;
  display: flex;
  align-items: center;
  z-index: 10;
  font-family: verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.logo h1 {
  font-size: 14px;
  display: flex;
  color: mediumaquamarine;
}

.logo img {
  margin-right: 14px;
}

header {
  display: flex;
  width: 100%;
}

a {
  color: black;
}

.head .logo {
  display: flex;
  display: inline-block;
}
