html {

}

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 2;
  border: 1px solid black;
}

.logo h1 {
  color: mediumaquamarine;
  font-size: 14px;
}

.logo img {
  margin-right: 10px;
  padding-left: 30px;
}

nav {
  padding: 20px 10px;
  display: inline-block;
  display: flex;
  top: 0;
  right: 0;
}

nav span {
  padding: 5px 5px;
  margin: 5px 5px;
}

a {
  color: black;
}

div {
  border: 1px solid black;
}

div span {
  border: 1px solid black;
}

.content {
  display: flex;
  margin-top: 90px;
  margin-left: 5px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.column.large {
  width: 630px;
}

.info {
  width: 100%;
  color: white;
  background-image: url("../images/img-story-main.png");
  height: 300px;
  font-size: 40px;
  font-family: georgia;
  font-weight: bold;
}

h2 {
  font-size: 36px;
}

.image-content {
  display: block;
  position: relative;
}

.image-content span {
  display: block;
  position: relative;
}

.narrative {
  display: block;
  font-size: 17px;
  font-family: georgia;
  color: black
}

p {
  display: block;
}

.stories {
  display: flex;
  justify-content: space-between;
}

div.fall-cancelled.image-content span {
  background-image: url("../images/img-story-2.png");
  height: 300px;
  display: flex;
  font-size: 30px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

div.fall-cancelled.image-content {
  font-family: georgia;
  font-size: 17px;
  color: white;
  display: block;
  width: 100%;
  font-size: 17px;
  font-family: georgia;
  font-weight: bold;
}

div.cameras.image-content span {
  background-image: url("../images/img-story-3.png");
  height: 300px;
  display: flex;
  font-size: 30px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

div.cameras.image-content {
  font-family: georgia;
  font-size: 17px;
  color: white;
  display: block;
  width: 100%;
  font-size: 17px;
  font-family: georgia;
  font-weight: bold;
}

.story {
  width: 300px;
}

.text-content {

}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
