html {

}

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 2;
}

.logo h1 {
  color: mediumaquamarine;
  font-size: 14px;
}

.logo img {
  margin-right: 10px;
  padding-left: 30px;
}

nav {
  padding: 20px 10px;
  display: inline-block;
  display: flex;
  top: 0;
  right: 0;
}

nav span {
  padding: 5px 5px;
  margin: 5px 5px;
}

a {
  color: black;
}


.content {
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
  margin-left: 5px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.column.large {
  width: 630px;
  display: flex;
  align-content: center;
}

.info {
  width: 100%;
  color: white;
  background-image: url("../images/img-story-main.png");
  height: 300px;
  font-size: 40px;
  font-family: georgia;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-family: georgia;
  font-weight: bold;
}

.image-content {
  display: block;
  position: relative;
}

.image-content span {
  display: block;
  position: relative;
}

.narrative {
  display: block;
  font-size: 17px;
  font-family: georgia;
  color: black
}

p {
  display: block;
}

.stories {
  display: flex;
  justify-content: space-between;
}

div.fall-cancelled.image-content span {
  background-image: url("../images/img-story-2.png");
  height: 300px;
  display: flex;
  font-size: 30px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

div.fall-cancelled.image-content {
  color: white;
  display: block;
  width: 100%;
  font-size: 17px;
  font-family: georgia;
  font-weight: bold;
}

div.cameras.image-content span {
  background-image: url("../images/img-story-3.png");
  height: 300px;
  display: flex;
  font-size: 30px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

div.cameras.image-content {
  color: white;
  display: block;
  width: 100%;
  font-size: 17px;
  font-family: georgia;
  font-weight: bold;
}

div.cats.image-content span {
  background-image: url("../images/img-story-1.png");
  height: 300px;
  display: flex;
  font-size: 30px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

div.cats.image-content {
  color: white;
  display: block;
  width: 100%;
  font-size: 17px;
  font-family: georgia;
  font-weight: bold;
}

.image-content span {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.story {
    flex-basis: 250px;
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 300px;
}

.column.medium {
    flex-basis: 300px;
    flex-shrink: 1;
}

.column.medium.text-content {
  flex-basis: 300px;
  flex-shrink: 1;
  }

.column.small {
  display: inline-flex;
  margin-right: 8px;
  right: 0px;
  flex-shrink: 10;
  flex-direction: column;
  top: 25%;
  margin-top: 5%;
  position: relative;
}

.column.small p.narrative {
  display: flex;
  right: 5px;
  flex-shrink: 1;
  top: 25%;
  font-family: serif;
}

.right-nav {
  flex-shrink: 1;
  flex-basis: 240px;
  flex-direction: column;
}

.bite-headline {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;

}

.news-bite-links p {
  margin: 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 12px;
  font-family: verdana;
  background-color: whitesmoke;
  color: dimgray;
  padding: 10px 20px;
}

.news-bite-links a {
  font-style: normal;
  color: dimgray;
  text-decoration: none;
}

.footer {
  margin: 7px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: mediumaquamarine;
}

#title {
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: Verdana;
  padding-right: 25px;
  border-right: 1px solid white;
  justify-content: center;
  align-content: center;
  display: flex;
}

.nav2 ul {
  display: inline-block;
  font-size: 12px;
  margin: 10px 0px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
}

.nav2 li {
  display: inline-block;
  padding-right: 20px;
}

.nav2 p {
  display: inline-block;
  margin: 0px 0px;
}
